* text=auto !eol
External/Aga.Controls.dll -text
External/WinRing0.dll -text
External/WinRing0.sys -text
External/WinRing0x64.dll -text
External/WinRing0x64.sys -text
GUI/AboutBox.Designer.cs -text
GUI/AboutBox.cs -text
GUI/AboutBox.resx -text
GUI/CrashReportForm.Designer.cs -text
GUI/CrashReportForm.cs -text
GUI/CrashReportForm.resx -text
GUI/HardwareNode.cs -text
GUI/MainForm.Designer.cs -text
GUI/MainForm.cs -text
GUI/MainForm.resx -text
GUI/ParameterForm.Designer.cs -text
GUI/ParameterForm.cs -text
GUI/ParameterForm.resx -text
GUI/PlotPanel.Designer.cs -text
GUI/PlotPanel.cs -text
GUI/PlotPanel.resx -text
GUI/SensorNode.cs -text
GUI/SensorNotifyIcon.cs -text
GUI/SensorSystemTray.cs -text
GUI/StartupManager.cs -text
GUI/TaskScheduler.cs -text
GUI/TypeNode.cs -text
Hardware/ATI/ADL.cs -text
Hardware/ATI/ATIGPU.cs -text
Hardware/ATI/ATIGroup.cs -text
Hardware/CPU/AMD0FCPU.cs -text
Hardware/CPU/AMD10CPU.cs -text
Hardware/CPU/CPUGroup.cs -text
Hardware/CPU/CPULoad.cs -text
Hardware/CPU/IntelCPU.cs -text
Hardware/Computer.cs -text
Hardware/HDD/HDD.cs -text
Hardware/HDD/HDDGroup.cs -text
Hardware/HDD/SMART.cs -text
Hardware/Hardware.cs -text
Hardware/IComputer.cs -text
Hardware/IGroup.cs -text
Hardware/IHardware.cs -text
Hardware/IParameter.cs -text
Hardware/ISensor.cs -text
Hardware/LPC/Chip.cs -text
Hardware/LPC/F718XX.cs -text
Hardware/LPC/IT87XX.cs -text
Hardware/LPC/LPCGroup.cs -text
Hardware/LPC/LPCHardware.cs -text
Hardware/LPC/W836XX.cs -text
Hardware/Mainboard/Mainboard.cs -text
Hardware/Mainboard/MainboardGroup.cs -text
Hardware/Mainboard/Manufacturer.cs -text
Hardware/Mainboard/SMBIOS.cs -text
Hardware/Nvidia/NVAPI.cs -text
Hardware/Nvidia/NvidiaGPU.cs -text
Hardware/Nvidia/NvidiaGroup.cs -text
Hardware/Parameter.cs -text
Hardware/Sensor.cs -text
Hardware/TBalancer/TBalancer.cs -text
Hardware/TBalancer/TBalancerGroup.cs -text
Hardware/WinRing0.cs -text
Licenses/Aga.Controls.License.txt -text
Licenses/OpenHardwareMonitor.License.txt -text
Licenses/WinRing0.License.txt -text
/OpenHardwareMonitor.csproj -text
/OpenHardwareMonitor.sln -text
/Program.cs -text
Properties/AssemblyInfo.cs -text
Resources/app.manifest -text
Resources/ati.png -text
Resources/bigng.png -text
Resources/chip.png -text
Resources/clock.png -text
Resources/computer.png -text
Resources/cpu.png -text
Resources/fan.png -text
Resources/flow.png -text
Resources/hdd.png -text
Resources/icon.ico -text
Resources/icon.xcf -text
Resources/load.png -text
Resources/mainboard.png -text
Resources/nvidia.png -text
Resources/smallicon.ico -text
Resources/temperature.png -text
Resources/voltage.png -text
Utilities/Config.cs -text
Utilities/EmbeddedResources.cs -text
Utilities/HexStringArray.cs -text
Utilities/IReadOnlyArray.cs -text
Utilities/IconFactory.cs -text
Utilities/PInvokeDelegateFactory.cs -text
Utilities/ReadOnlyArray.cs -text
