* text=auto !eol
/App.config -text
Collections/IReadOnlyArray.cs -text
Collections/ListSet.cs -text
Collections/Pair.cs -text
Collections/ReadOnlyArray.cs -text
Collections/RingCollection.cs -text
External/Aga.Controls.dll -text
External/Aga.Controls/Aga.Controls.csproj -text
External/Aga.Controls/Aga.Controls.sln -text
External/Aga.Controls/BitmapHelper.cs -text
External/Aga.Controls/GifDecoder.cs -text
External/Aga.Controls/NumericTextBox.cs -text
External/Aga.Controls/PerformanceAnalyzer.cs -text
External/Aga.Controls/Properties/AssemblyInfo.cs -text
External/Aga.Controls/Properties/Resources.Designer.cs -text
External/Aga.Controls/Properties/Resources.resx -text
External/Aga.Controls/ResourceHelper.cs -text
External/Aga.Controls/Resources/DVSplit.cur -text
External/Aga.Controls/Resources/Folder.bmp -text
External/Aga.Controls/Resources/FolderClosed.bmp -text
External/Aga.Controls/Resources/Leaf.bmp -text
External/Aga.Controls/Resources/check.bmp -text
External/Aga.Controls/Resources/loading_icon -text
External/Aga.Controls/Resources/minus.bmp -text
External/Aga.Controls/Resources/plus.bmp -text
External/Aga.Controls/Resources/uncheck.bmp -text
External/Aga.Controls/Resources/unknown.bmp -text
External/Aga.Controls/StringCollectionEditor.cs -text
External/Aga.Controls/TextHelper.cs -text
External/Aga.Controls/Threading/AbortableThreadPool.cs -text
External/Aga.Controls/Threading/WorkItem.cs -text
External/Aga.Controls/Threading/WorkItemStatus.cs -text
External/Aga.Controls/TimeCounter.cs -text
External/Aga.Controls/Tree/AutoRowHeightLayout.cs -text
External/Aga.Controls/Tree/ClassDiagram.cd -text
External/Aga.Controls/Tree/ColumnCollection.cs -text
External/Aga.Controls/Tree/DrawContext.cs -text
External/Aga.Controls/Tree/DropNodeValidatingEventArgs.cs -text
External/Aga.Controls/Tree/DropPosition.cs -text
External/Aga.Controls/Tree/EditorContext.cs -text
External/Aga.Controls/Tree/Enums.cs -text
External/Aga.Controls/Tree/FixedRowHeightLayout.cs -text
External/Aga.Controls/Tree/IRowLayout.cs -text
External/Aga.Controls/Tree/IToolTipProvider.cs -text
External/Aga.Controls/Tree/ITreeModel.cs -text
External/Aga.Controls/Tree/IncrementalSearch.cs -text
External/Aga.Controls/Tree/Input/ClickColumnState.cs -text
External/Aga.Controls/Tree/Input/ColumnState.cs -text
External/Aga.Controls/Tree/Input/InputState.cs -text
External/Aga.Controls/Tree/Input/InputWithControl.cs -text
External/Aga.Controls/Tree/Input/InputWithShift.cs -text
External/Aga.Controls/Tree/Input/NormalInputState.cs -text
External/Aga.Controls/Tree/Input/ReorderColumnState.cs -text
External/Aga.Controls/Tree/Input/ResizeColumnState.cs -text
External/Aga.Controls/Tree/ListModel.cs -text
External/Aga.Controls/Tree/NativeMethods.cs -text
External/Aga.Controls/Tree/Node.cs -text
External/Aga.Controls/Tree/NodeControlInfo.cs -text
External/Aga.Controls/Tree/NodeControls/BaseTextControl.cs -text
External/Aga.Controls/Tree/NodeControls/BindableControl.cs -text
External/Aga.Controls/Tree/NodeControls/ClassDiagram.cd -text
External/Aga.Controls/Tree/NodeControls/DrawEventArgs.cs -text
External/Aga.Controls/Tree/NodeControls/EditEventArgs.cs -text
External/Aga.Controls/Tree/NodeControls/EditableControl.cs -text
External/Aga.Controls/Tree/NodeControls/ExpandingIcon.cs -text
External/Aga.Controls/Tree/NodeControls/InteractiveControl.cs -text
External/Aga.Controls/Tree/NodeControls/LabelEventArgs.cs -text
External/Aga.Controls/Tree/NodeControls/NodeCheckBox.cs -text
External/Aga.Controls/Tree/NodeControls/NodeComboBox.cs -text
External/Aga.Controls/Tree/NodeControls/NodeControl.cs -text
External/Aga.Controls/Tree/NodeControls/NodeControlValueEventArgs.cs -text
External/Aga.Controls/Tree/NodeControls/NodeControlsCollection.cs -text
External/Aga.Controls/Tree/NodeControls/NodeDecimalTextBox.cs -text
External/Aga.Controls/Tree/NodeControls/NodeEventArgs.cs -text
External/Aga.Controls/Tree/NodeControls/NodeIcon.cs -text
External/Aga.Controls/Tree/NodeControls/NodeIntegerTextBox.cs -text
External/Aga.Controls/Tree/NodeControls/NodeNumericUpDown.cs -text
External/Aga.Controls/Tree/NodeControls/NodePlusMinus.cs -text
External/Aga.Controls/Tree/NodeControls/NodeStateIcon.cs -text
External/Aga.Controls/Tree/NodeControls/NodeTextBox.cs -text
External/Aga.Controls/Tree/SortedTreeModel.cs -text
External/Aga.Controls/Tree/TreeColumn.cs -text
External/Aga.Controls/Tree/TreeColumnCollection.cs -text
External/Aga.Controls/Tree/TreeColumnEventArgs.cs -text
External/Aga.Controls/Tree/TreeListAdapter.cs -text
External/Aga.Controls/Tree/TreeModel.cs -text
External/Aga.Controls/Tree/TreeModelBase.cs -text
External/Aga.Controls/Tree/TreeModelEventArgs.cs -text
External/Aga.Controls/Tree/TreeNodeAdv.cs -text
External/Aga.Controls/Tree/TreeNodeAdvMouseEventArgs.cs -text
External/Aga.Controls/Tree/TreePath.cs -text
External/Aga.Controls/Tree/TreePathEventArgs.cs -text
External/Aga.Controls/Tree/TreeViewAdv.Designer.cs -text
External/Aga.Controls/Tree/TreeViewAdv.Draw.cs -text
External/Aga.Controls/Tree/TreeViewAdv.Editor.cs -text
External/Aga.Controls/Tree/TreeViewAdv.Input.cs -text
External/Aga.Controls/Tree/TreeViewAdv.Properties.cs -text
External/Aga.Controls/Tree/TreeViewAdv.cs -text
External/Aga.Controls/Tree/TreeViewAdv.resx -text
External/Aga.Controls/Tree/TreeViewAdvCancelEventArgs.cs -text
External/Aga.Controls/Tree/TreeViewAdvEventArgs.cs -text
External/Aga.Controls/Tree/TreeViewRowDrawEventArgs.cs -text
External/Aga.Controls/license.txt -text
External/OxyPlot.WindowsForms.dll -text
External/OxyPlot.dll -text
External/OxyPlot/GlobalAssemblyInfo.cs -text
External/OxyPlot/OxyPlot.WindowsForms/GraphicsRenderContext.cs -text
External/OxyPlot/OxyPlot.WindowsForms/HashSet.cs -text
External/OxyPlot/OxyPlot.WindowsForms/Helpers/ConverterExtensions.cs -text
External/OxyPlot/OxyPlot.WindowsForms/NamespaceDoc.cs -text
External/OxyPlot/OxyPlot.WindowsForms/OxyPlot.WindowsForms.csproj -text
External/OxyPlot/OxyPlot.WindowsForms/Plot.cs -text
External/OxyPlot/OxyPlot.WindowsForms/PlotControl.cs -text
External/OxyPlot/OxyPlot.WindowsForms/PngExporter.cs -text
External/OxyPlot/OxyPlot.WindowsForms/Properties/AssemblyInfo.cs -text
External/OxyPlot/OxyPlot.sln -text
External/OxyPlot/OxyPlot/Annotations/Annotation.cs -text
External/OxyPlot/OxyPlot/Annotations/AnnotationLayer.cs -text
External/OxyPlot/OxyPlot/Annotations/ArrowAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/EllipseAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/ImageAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/LineAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/LineAnnotationType.cs -text
External/OxyPlot/OxyPlot/Annotations/PolygonAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/RectangleAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/TextAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/TextualAnnotation.cs -text
External/OxyPlot/OxyPlot/Annotations/TileMapAnnotation.cs -text
External/OxyPlot/OxyPlot/Axes/AngleAxis.cs -text
External/OxyPlot/OxyPlot/Axes/Axis.cs -text
External/OxyPlot/OxyPlot/Axes/AxisChangeTypes.cs -text
External/OxyPlot/OxyPlot/Axes/AxisChangedEventArgs.cs -text
External/OxyPlot/OxyPlot/Axes/AxisLayer.cs -text
External/OxyPlot/OxyPlot/Axes/AxisPosition.cs -text
External/OxyPlot/OxyPlot/Axes/CategoryAxis.cs -text
External/OxyPlot/OxyPlot/Axes/ColorAxis.cs -text
External/OxyPlot/OxyPlot/Axes/DateTimeAxis.cs -text
External/OxyPlot/OxyPlot/Axes/DateTimeIntervalType.cs -text
External/OxyPlot/OxyPlot/Axes/LinearAxis.cs -text
External/OxyPlot/OxyPlot/Axes/LogarithmicAxis.cs -text
External/OxyPlot/OxyPlot/Axes/MagnitudeAxis.cs -text
External/OxyPlot/OxyPlot/Axes/RangeAxis.cs -text
External/OxyPlot/OxyPlot/Axes/TickStyle.cs -text
External/OxyPlot/OxyPlot/Axes/TimeAxis.cs -text
External/OxyPlot/OxyPlot/Axes/TimeSpanAxis.cs -text
External/OxyPlot/OxyPlot/ClassDiagrams/PlotModel.cd -text
External/OxyPlot/OxyPlot/ClassDiagrams/Reporting.cd -text
External/OxyPlot/OxyPlot/ClassDiagrams/Series.cd -text
External/OxyPlot/OxyPlot/Foundation/ArrayHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/CanonicalSplineHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/CodeGenerator/CodeGenerationAttribute.cs -text
External/OxyPlot/OxyPlot/Foundation/CodeGenerator/CodeGenerator.cs -text
External/OxyPlot/OxyPlot/Foundation/CodeGenerator/CodeGeneratorStringExtensions.cs -text
External/OxyPlot/OxyPlot/Foundation/CodeGenerator/ICodeGenerating.cs -text
External/OxyPlot/OxyPlot/Foundation/CohenSutherlandClipping.cs -text
External/OxyPlot/OxyPlot/Foundation/Color.cs -text
External/OxyPlot/OxyPlot/Foundation/Colors.cs -text
External/OxyPlot/OxyPlot/Foundation/Conrec.cs -text
External/OxyPlot/OxyPlot/Foundation/DataPoint.cs -text
External/OxyPlot/OxyPlot/Foundation/DataPointConverter.cs -text
External/OxyPlot/OxyPlot/Foundation/DoubleExtensions.cs -text
External/OxyPlot/OxyPlot/Foundation/FontWeights.cs -text
External/OxyPlot/OxyPlot/Foundation/FractionHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/HorizontalAlignment.cs -text
External/OxyPlot/OxyPlot/Foundation/IDataPoint.cs -text
External/OxyPlot/OxyPlot/Foundation/IDataPointProvider.cs -text
External/OxyPlot/OxyPlot/Foundation/LineStyle.cs -text
External/OxyPlot/OxyPlot/Foundation/LineStyleHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/ListFiller.cs -text
External/OxyPlot/OxyPlot/Foundation/MarkerType.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyColor.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyColorConverter.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyColors.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyImage.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyPalette.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyPalettes.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyPen.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyPenLineJoin.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyRect.cs -text
External/OxyPlot/OxyPlot/Foundation/OxySize.cs -text
External/OxyPlot/OxyPlot/Foundation/OxyThickness.cs -text
External/OxyPlot/OxyPlot/Foundation/Pen.cs -text
External/OxyPlot/OxyPlot/Foundation/PlotLength.cs -text
External/OxyPlot/OxyPlot/Foundation/PlotLengthUnit.cs -text
External/OxyPlot/OxyPlot/Foundation/PngEncoder.cs -text
External/OxyPlot/OxyPlot/Foundation/Point.cs -text
External/OxyPlot/OxyPlot/Foundation/Rectangle.cs -text
External/OxyPlot/OxyPlot/Foundation/ReflectionHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/ScreenPoint.cs -text
External/OxyPlot/OxyPlot/Foundation/ScreenPointHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/ScreenVector.cs -text
External/OxyPlot/OxyPlot/Foundation/Size.cs -text
External/OxyPlot/OxyPlot/Foundation/StreamExtensions.cs -text
External/OxyPlot/OxyPlot/Foundation/StringHelper.cs -text
External/OxyPlot/OxyPlot/Foundation/SutherlandHodgmanClipping.cs -text
External/OxyPlot/OxyPlot/Foundation/VerticalAlignment.cs -text
External/OxyPlot/OxyPlot/Foundation/XmlWriterBase.cs -text
External/OxyPlot/OxyPlot/LibraryDoc.cs -text
External/OxyPlot/OxyPlot/LinqBridge.cs -text
External/OxyPlot/OxyPlot/Manipulators/CursorType.cs -text
External/OxyPlot/OxyPlot/Manipulators/IPlotControl.cs -text
External/OxyPlot/OxyPlot/Manipulators/ManipulationEventArgs.cs -text
External/OxyPlot/OxyPlot/Manipulators/ManipulatorBase.cs -text
External/OxyPlot/OxyPlot/Manipulators/PanManipulator.cs -text
External/OxyPlot/OxyPlot/Manipulators/ResetManipulator.cs -text
External/OxyPlot/OxyPlot/Manipulators/TrackerHitResult.cs -text
External/OxyPlot/OxyPlot/Manipulators/TrackerManipulator.cs -text
External/OxyPlot/OxyPlot/Manipulators/ZoomManipulator.cs -text
External/OxyPlot/OxyPlot/Manipulators/ZoomRectangleManipulator.cs -text
External/OxyPlot/OxyPlot/Manipulators/ZoomStepManipulator.cs -text
External/OxyPlot/OxyPlot/MouseActions/MouseAction.cs -text
External/OxyPlot/OxyPlot/MouseActions/SliderAction.cs -text
External/OxyPlot/OxyPlot/NamespaceDoc.cs -text
External/OxyPlot/OxyPlot/OxyPlot.csproj -text
External/OxyPlot/OxyPlot/PlotModel/HitTestResult.cs -text
External/OxyPlot/OxyPlot/PlotModel/OxyMouseButton.cs -text
External/OxyPlot/OxyPlot/PlotModel/OxyMouseEventArgs.cs -text
External/OxyPlot/OxyPlot/PlotModel/PlotElement.cs -text
External/OxyPlot/OxyPlot/PlotModel/PlotModel.Legends.cs -text
External/OxyPlot/OxyPlot/PlotModel/PlotModel.MouseEvents.cs -text
External/OxyPlot/OxyPlot/PlotModel/PlotModel.Rendering.cs -text
External/OxyPlot/OxyPlot/PlotModel/PlotModel.cs -text
External/OxyPlot/OxyPlot/PlotModel/SelectablePlotElement.cs -text
External/OxyPlot/OxyPlot/PlotModel/UIPlotElement.cs -text
External/OxyPlot/OxyPlot/Properties/AssemblyInfo.cs -text
External/OxyPlot/OxyPlot/Render/AngleAxisRenderer.cs -text
External/OxyPlot/OxyPlot/Render/AxisRenderer.cs -text
External/OxyPlot/OxyPlot/Render/AxisRendererBase.cs -text
External/OxyPlot/OxyPlot/Render/HorizontalAndVerticalAxisRenderer.cs -text
External/OxyPlot/OxyPlot/Render/IRenderContext.cs -text
External/OxyPlot/OxyPlot/Render/MagnitudeAxisRenderer.cs -text
External/OxyPlot/OxyPlot/Render/MathRenderingExtensions.cs -text
External/OxyPlot/OxyPlot/Render/PlotRenderer.cs -text
External/OxyPlot/OxyPlot/Render/RenderContextBase.cs -text
External/OxyPlot/OxyPlot/Render/RenderingExtensions.cs -text
External/OxyPlot/OxyPlot/Render/VerticalAxisRenderer.cs -text
External/OxyPlot/OxyPlot/Reporting/NamespaceDoc.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Content.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Drawing.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/DrawingFigure.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Equation.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Figure.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Header.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/HeaderHelper.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Image.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/ItemsTable.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/ItemsTableField.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Paragraph.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/ParagraphStyle.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Plot.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/PlotFigure.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/PropertyTable.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Report.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/ReportItem.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/ReportSection.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/ReportStyle.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/Table.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/TableColumn.cs -text
External/OxyPlot/OxyPlot/Reporting/Report/TableOfContents.cs -text
External/OxyPlot/OxyPlot/Reporting/ReportWriters/HtmlReportWriter.cs -text
External/OxyPlot/OxyPlot/Reporting/ReportWriters/IReportWriter.cs -text
External/OxyPlot/OxyPlot/Reporting/ReportWriters/StringExtensions.cs -text
External/OxyPlot/OxyPlot/Reporting/ReportWriters/TextReportWriter.cs -text
External/OxyPlot/OxyPlot/Reporting/ReportWriters/WikiReportWriter.cs -text
External/OxyPlot/OxyPlot/Series/AreaSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/BarItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/BarItemBase.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/BarSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/BarSeriesBase.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/BarSeriesBase{T}.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/CategorizedItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/CategorizedSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/ColumnItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/ColumnSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/ErrorColumnItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/ErrorColumnSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/IStackableSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/IntervalBarItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/IntervalBarSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/LabelPlacement.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/RectangleBarItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/RectangleBarSeries.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/TornadoBarItem.cs -text
External/OxyPlot/OxyPlot/Series/BarSeries/TornadoBarSeries.cs -text
External/OxyPlot/OxyPlot/Series/BoxPlotItem.cs -text
External/OxyPlot/OxyPlot/Series/BoxPlotSeries.cs -text
External/OxyPlot/OxyPlot/Series/CandleStickSeries.cs -text
External/OxyPlot/OxyPlot/Series/ContourSeries.cs -text
External/OxyPlot/OxyPlot/Series/DataPointSeries.cs -text
External/OxyPlot/OxyPlot/Series/FunctionSeries.cs -text
External/OxyPlot/OxyPlot/Series/HeatMapSeries.cs -text
External/OxyPlot/OxyPlot/Series/HighLowItem.cs -text
External/OxyPlot/OxyPlot/Series/HighLowSeries.cs -text
External/OxyPlot/OxyPlot/Series/ITrackableSeries.cs -text
External/OxyPlot/OxyPlot/Series/ItemsSeries.cs -text
External/OxyPlot/OxyPlot/Series/LineLegendPosition.cs -text
External/OxyPlot/OxyPlot/Series/LineSeries.cs -text
External/OxyPlot/OxyPlot/Series/PieSeries.cs -text
External/OxyPlot/OxyPlot/Series/PieSlice.cs -text
External/OxyPlot/OxyPlot/Series/PlotSeriesBase.cs -text
External/OxyPlot/OxyPlot/Series/ScatterPoint.cs -text
External/OxyPlot/OxyPlot/Series/ScatterSeries.cs -text
External/OxyPlot/OxyPlot/Series/Series.cs -text
External/OxyPlot/OxyPlot/Series/StairStepSeries.cs -text
External/OxyPlot/OxyPlot/Series/StemSeries.cs -text
External/OxyPlot/OxyPlot/Series/TwoColorLineSeries.cs -text
External/OxyPlot/OxyPlot/Series/XYAxisSeries.cs -text
External/OxyPlot/OxyPlot/Svg/NativeMethods.cs -text
External/OxyPlot/OxyPlot/Svg/SvgExporter.cs -text
External/OxyPlot/OxyPlot/Svg/SvgRenderContext.cs -text
External/OxyPlot/OxyPlot/Svg/SvgWriter.cs -text
External/WinRing0/COPYRIGHT.txt -text
External/WinRing0/MAKEFILE -text
External/WinRing0/OlsIoctl.h -text
External/WinRing0/OpenLibSys.c -text
External/WinRing0/OpenLibSys.h -text
External/WinRing0/OpenLibSys.rc -text
External/WinRing0/SOURCES -text
GUI/AboutBox.Designer.cs -text
GUI/AboutBox.cs -text
GUI/AboutBox.resx -text
GUI/CrashForm.Designer.cs -text
GUI/CrashForm.cs -text
GUI/CrashForm.resx -text
GUI/Gadget.cs -text
GUI/GadgetWindow.cs -text
GUI/HardwareNode.cs -text
GUI/HardwareTypeImage.cs -text
GUI/MainForm.Designer.cs -text
GUI/MainForm.cs -text
GUI/MainForm.resx -text
GUI/Node.cs -text
GUI/NotifyIconAdv.cs -text
GUI/ParameterForm.Designer.cs -text
GUI/ParameterForm.cs -text
GUI/ParameterForm.resx -text
GUI/PlotPanel.cs -text
GUI/PortForm.Designer.cs -text
GUI/PortForm.cs -text
GUI/PortForm.resx -text
GUI/ReportForm.Designer.cs -text
GUI/ReportForm.cs -text
GUI/ReportForm.resx -text
GUI/SensorGadget.cs -text
GUI/SensorNode.cs -text
GUI/SensorNotifyIcon.cs -text
GUI/ShowDesktop.cs -text
GUI/SplitContainerAdv.cs -text
GUI/StartupManager.cs -text
GUI/SystemTray.cs -text
GUI/TaskScheduler.cs -text
GUI/TreeModel.cs -text
GUI/TypeNode.cs -text
GUI/UnitManager.cs -text
GUI/UpdateVisitor.cs -text
GUI/UserOption.cs -text
GUI/UserRadioGroup.cs -text
Hardware/ATI/ADL.cs -text
Hardware/ATI/ATIGPU.cs -text
Hardware/ATI/ATIGroup.cs -text
Hardware/CPU/AMD0FCPU.cs -text
Hardware/CPU/AMD10CPU.cs -text
Hardware/CPU/AMDCPU.cs -text
Hardware/CPU/CPUGroup.cs -text
Hardware/CPU/CPUID.cs -text
Hardware/CPU/CPULoad.cs -text
Hardware/CPU/GenericCPU.cs -text
Hardware/CPU/IntelCPU.cs -text
Hardware/Computer.cs -text
Hardware/Control.cs -text
Hardware/FirmwareTable.cs -text
Hardware/HDD/AbstractHarddrive.cs -text
Hardware/HDD/DebugSmart.cs -text
Hardware/HDD/DriveAttributeValue.cs -text
Hardware/HDD/DriveThresholdValue.cs -text
Hardware/HDD/HDDGeneric.cs -text
Hardware/HDD/HarddriveGroup.cs -text
Hardware/HDD/ISmart.cs -text
Hardware/HDD/NamePrefixAttribute.cs -text
Hardware/HDD/RequireSmartAttribute.cs -text
Hardware/HDD/SSDIndilinx.cs -text
Hardware/HDD/SSDIntel.cs -text
Hardware/HDD/SSDMicron.cs -text
Hardware/HDD/SSDPlextor.cs -text
Hardware/HDD/SSDSamsung.cs -text
Hardware/HDD/SSDSandforce.cs -text
Hardware/HDD/SmartAttribute.cs -text
Hardware/HDD/SmartNames.cs -text
Hardware/HDD/WindowsSmart.cs -text
Hardware/Hardware.cs -text
Hardware/Heatmaster/Heatmaster.cs -text
Hardware/Heatmaster/HeatmasterGroup.cs -text
Hardware/HexStringArray.cs -text
Hardware/IComputer.cs -text
Hardware/IControl.cs -text
Hardware/IElement.cs -text
Hardware/IGroup.cs -text
Hardware/IHardware.cs -text
Hardware/IOControlCode.cs -text
Hardware/IParameter.cs -text
Hardware/ISensor.cs -text
Hardware/ISettings.cs -text
Hardware/IVisitor.cs -text
Hardware/Identifier.cs -text
Hardware/KernelDriver.cs -text
Hardware/LPC/Chip.cs -text
Hardware/LPC/F718XX.cs -text
Hardware/LPC/ISuperIO.cs -text
Hardware/LPC/IT87XX.cs -text
Hardware/LPC/LMSensors.cs -text
Hardware/LPC/LPCIO.cs -text
Hardware/LPC/NCT677X.cs -text
Hardware/LPC/W836XX.cs -text
Hardware/Mainboard/GigabyteTAMG.cs -text
Hardware/Mainboard/Identification.cs -text
Hardware/Mainboard/Mainboard.cs -text
Hardware/Mainboard/MainboardGroup.cs -text
Hardware/Mainboard/Manufacturer.cs -text
Hardware/Mainboard/Model.cs -text
Hardware/Mainboard/SuperIOHardware.cs -text
Hardware/Nvidia/NVAPI.cs -text
Hardware/Nvidia/NvidiaGPU.cs -text
Hardware/Nvidia/NvidiaGroup.cs -text
Hardware/Opcode.cs -text
Hardware/OperatingSystem.cs -text
Hardware/PInvokeDelegateFactory.cs -text
Hardware/Parameter.cs -text
Hardware/RAM/GenericRAM.cs -text
Hardware/RAM/RAMGroup.cs -text
Hardware/Ring0.cs -text
Hardware/SMBIOS.cs -text
Hardware/Sensor.cs -text
Hardware/SensorVisitor.cs -text
Hardware/TBalancer/FTD2XX.cs -text
Hardware/TBalancer/TBalancer.cs -text
Hardware/TBalancer/TBalancerGroup.cs -text
Hardware/ThreadAffinity.cs -text
Hardware/WinRing0.sys -text
Hardware/WinRing0x64.sys -text
Licenses/License.html -text
/OpenHardwareMonitor.csproj -text
/OpenHardwareMonitor.sln -text
/OpenHardwareMonitorLib.csproj -text
/Program.cs -text
Properties/AssemblyInfo.cs -text
Properties/AssemblyLibInfo.cs -text
Properties/AssemblyVersion.cs -text
Resources/Web/css/custom-theme/images/ui-bg_flat_0_aaaaaa_40x100.png -text
Resources/Web/css/custom-theme/images/ui-bg_glass_55_fbf9ee_1x400.png -text
Resources/Web/css/custom-theme/images/ui-bg_glass_65_ffffff_1x400.png -text
Resources/Web/css/custom-theme/images/ui-bg_glass_75_dadada_1x400.png -text
Resources/Web/css/custom-theme/images/ui-bg_glass_75_e6e6e6_1x400.png -text
Resources/Web/css/custom-theme/images/ui-bg_glass_75_ffffff_1x400.png -text
Resources/Web/css/custom-theme/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
Resources/Web/css/custom-theme/images/ui-bg_inset-soft_95_fef1ec_1x100.png -text
Resources/Web/css/custom-theme/images/ui-icons_222222_256x240.png -text
Resources/Web/css/custom-theme/images/ui-icons_2e83ff_256x240.png -text
Resources/Web/css/custom-theme/images/ui-icons_454545_256x240.png -text
Resources/Web/css/custom-theme/images/ui-icons_888888_256x240.png -text
Resources/Web/css/custom-theme/images/ui-icons_cd0a0a_256x240.png -text
Resources/Web/css/custom-theme/jquery-ui-1.8.16.custom.css -text
Resources/Web/css/jquery.treeTable.css -text
Resources/Web/css/ohm_web.css -text
Resources/Web/images/toggle-collapse-dark.png -text
Resources/Web/images/toggle-collapse-light.png -text
Resources/Web/images/toggle-expand-dark.png -text
Resources/Web/images/toggle-expand-light.png -text
Resources/Web/images/transparent.png -text
Resources/Web/index.html -text
Resources/Web/js/jquery-1.7.2.js -text
Resources/Web/js/jquery-1.7.2.min.js -text
Resources/Web/js/jquery-ui-1.8.16.custom.min.js -text
Resources/Web/js/jquery.tmpl.js -text
Resources/Web/js/jquery.tmpl.min.js -text
Resources/Web/js/jquery.treeTable.min.js -text
Resources/Web/js/knockout-2.1.0.js -text
Resources/Web/js/knockout-2.1.0.min.js -text
Resources/Web/js/knockout.mapping-latest.js -text
Resources/Web/js/knockout.mapping-latest.min.js -text
Resources/Web/js/ohm_web.js -text
Resources/app.manifest -text
Resources/ati.png -text
Resources/barback.png -text
Resources/barblue.png -text
Resources/bigng.png -text
Resources/chip.png -text
Resources/clock.png -text
Resources/computer.png -text
Resources/control.png -text
Resources/cpu.png -text
Resources/data.png -text
Resources/factor.png -text
Resources/fan.png -text
Resources/flow.png -text
Resources/gadget.png -text
Resources/gadget.xcf -text
Resources/hdd.png -text
Resources/icon.ico -text
Resources/icon.xcf -text
Resources/level.png -text
Resources/load.png -text
Resources/mainboard.png -text
Resources/nvidia.png -text
Resources/power.png -text
Resources/ram.png -text
Resources/smallicon.ico -text
Resources/temperature.png -text
Resources/voltage.png -text
Utilities/EmbeddedResources.cs -text
Utilities/HttpServer.cs -text
Utilities/IconFactory.cs -text
Utilities/Logger.cs -text
Utilities/PersistentSettings.cs -text
WMI/Hardware.cs -text
WMI/IWmiObject.cs -text
WMI/Sensor.cs -text
WMI/WmiProvider.cs -text
