/*.suo
/*.user
/Bin
/Doc
External/*.suo
External/*.user
External/Aga.Controls/*.suo
External/Aga.Controls/*.user
External/Aga.Controls/Bin
External/Aga.Controls/Doc
External/Aga.Controls/Obj
External/Aga.Controls/Properties/*.suo
External/Aga.Controls/Properties/*.user
External/Aga.Controls/Properties/Bin
External/Aga.Controls/Properties/Doc
External/Aga.Controls/Properties/Obj
External/Aga.Controls/Properties/Web
External/Aga.Controls/Properties/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/Properties/bin
External/Aga.Controls/Properties/doc
External/Aga.Controls/Properties/obj
External/Aga.Controls/Properties/web
External/Aga.Controls/Resources/*.suo
External/Aga.Controls/Resources/*.user
External/Aga.Controls/Resources/Bin
External/Aga.Controls/Resources/Doc
External/Aga.Controls/Resources/Obj
External/Aga.Controls/Resources/Web
External/Aga.Controls/Resources/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/Resources/bin
External/Aga.Controls/Resources/doc
External/Aga.Controls/Resources/obj
External/Aga.Controls/Resources/web
External/Aga.Controls/Threading/*.suo
External/Aga.Controls/Threading/*.user
External/Aga.Controls/Threading/Bin
External/Aga.Controls/Threading/Doc
External/Aga.Controls/Threading/Obj
External/Aga.Controls/Threading/Web
External/Aga.Controls/Threading/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/Threading/bin
External/Aga.Controls/Threading/doc
External/Aga.Controls/Threading/obj
External/Aga.Controls/Threading/web
External/Aga.Controls/Tree/*.suo
External/Aga.Controls/Tree/*.user
External/Aga.Controls/Tree/Bin
External/Aga.Controls/Tree/Doc
External/Aga.Controls/Tree/Input/*.suo
External/Aga.Controls/Tree/Input/*.user
External/Aga.Controls/Tree/Input/Bin
External/Aga.Controls/Tree/Input/Doc
External/Aga.Controls/Tree/Input/Obj
External/Aga.Controls/Tree/Input/Web
External/Aga.Controls/Tree/Input/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/Tree/Input/bin
External/Aga.Controls/Tree/Input/doc
External/Aga.Controls/Tree/Input/obj
External/Aga.Controls/Tree/Input/web
External/Aga.Controls/Tree/NodeControls/*.suo
External/Aga.Controls/Tree/NodeControls/*.user
External/Aga.Controls/Tree/NodeControls/Bin
External/Aga.Controls/Tree/NodeControls/Doc
External/Aga.Controls/Tree/NodeControls/Obj
External/Aga.Controls/Tree/NodeControls/Web
External/Aga.Controls/Tree/NodeControls/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/Tree/NodeControls/bin
External/Aga.Controls/Tree/NodeControls/doc
External/Aga.Controls/Tree/NodeControls/obj
External/Aga.Controls/Tree/NodeControls/web
External/Aga.Controls/Tree/Obj
External/Aga.Controls/Tree/Web
External/Aga.Controls/Tree/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/Tree/bin
External/Aga.Controls/Tree/doc
External/Aga.Controls/Tree/obj
External/Aga.Controls/Tree/web
External/Aga.Controls/Web
External/Aga.Controls/_ReSharper.OpenHardwareMonitor
External/Aga.Controls/bin
External/Aga.Controls/doc
External/Aga.Controls/obj
External/Aga.Controls/web
External/Bin
External/Doc
External/Obj
External/Web
External/_ReSharper.OpenHardwareMonitor
External/bin
External/doc
External/obj
External/web
/Obj
/Web
/_ReSharper.OpenHardwareMonitor
/bin
/doc
/obj
/web
